<kendo-grid
            [kendoGridBinding]="gridData"
            [reorderable]="true"
            [pageSize]="5"
            [resizable]="false"
            style="height: 200px"
            style="width: 360px">
                <kendo-grid-column
                    field="ProductID"
                    title="Product ID"
                    [width]="180">
                </kendo-grid-column>

                <kendo-grid-column
                    field="ProductName"
                    title="Product Name"
                    [width]="180">
                </kendo-grid-column>

            <kendo-grid-column
                field="Category.CategoryName"
                title="Category"
                [width]="180">
            </kendo-grid-column>

            <kendo-grid-column
                field="UnitPrice"
                title="Unit Price"
                [width]="180"
                filter="numeric"
                format="{0:c}">
            </kendo-grid-column>

            <kendo-grid-column
                field="UnitsInStock"
                title="Units in Stock"
                [width]="180">
            </kendo-grid-column>
            <kendo-grid-column
                field="ReorderLevel"
                title="Reorder Level"
                [width]="180">
            </kendo-grid-column>
            <kendo-grid-column
                field="SupplierID"
                title="Supplier ID"
                [width]="180">
            </kendo-grid-column>
            <kendo-grid-column
                field="QuantityPerUnit"
                title="Unit Quantity"
                [width]="180">
            </kendo-grid-column>
        </kendo-grid>